In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("IMDB Dataset.xls")

In [3]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [4]:
df.tail()

                                                  review sentiment
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

In [5]:
temp_df=df.iloc[:10000]

In [6]:
temp_df["sentiment"].value_counts()

sentiment
positive    5028
negative    4972
Name: count, dtype: int64

In [7]:
temp_df.shape

(10000, 2)

In [8]:
temp_df.isnull().sum()

review       0
sentiment    0
dtype: int64

In [41]:
temp_df.duplicated().sum()

0

In [43]:
temp_df.drop_duplicates(inplace=True)

/var/folders/sp/2q6vh_9j0w1cb0bdct78zbm40000gn/T/ipykernel_4057/3757490955.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.drop_duplicates(inplace=True)

In [45]:
import re
def remove_tags(raw_text):
    cleaned_text = re.sub(re.compile("<.*?>"),"",raw_text)
    return cleaned_text

In [47]:
temp_df["review"]=temp_df["review"].apply(remove_tags)

/var/folders/sp/2q6vh_9j0w1cb0bdct78zbm40000gn/T/ipykernel_4057/3865981164.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df["review"]=temp_df["review"].apply(remove_tags)

In [49]:
temp_df

                                                 review sentiment
0     one reviewers mentioned watching 1 oz episode ...  positive
1     wonderful little production. filming technique...  positive
2     thought wonderful way spend time hot summer we...  positive
3     basically there's family little boy (jake) thi...  negative
4     petter mattei's "love time money" visually stu...  positive
...                                                 ...       ...
9995  fun, entertaining movie wwii german spy (julie...  positive
9996  give break. anyone say "good hockey movie"? kn...  negative
9997  movie bad movie. watching endless series bad h...  negative
9998  movie probably made entertain middle school, e...  negative
9999  smashing film film-making. shows intense stran...  positive

[9983 rows x 2 columns]

In [51]:
temp_df["review"]=temp_df["review"].apply(lambda x:x.lower())

/var/folders/sp/2q6vh_9j0w1cb0bdct78zbm40000gn/T/ipykernel_4057/830702233.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df["review"]=temp_df["review"].apply(lambda x:x.lower())

In [15]:
temp_df

                                                 review sentiment
0     one of the other reviewers has mentioned that ...  positive
1     a wonderful little production. the filming tec...  positive
2     i thought this was a wonderful way to spend ti...  positive
3     basically there's a family where a little boy ...  negative
4     petter mattei's "love in the time of money" is...  positive
...                                                 ...       ...
9995  fun, entertaining movie about wwii german spy ...  positive
9996  give me a break. how can anyone say that this ...  negative
9997  this movie is a bad movie. but after watching ...  negative
9998  this is a movie that was probably made to ente...  negative
9999  smashing film about film-making. shows the int...  positive

[9983 rows x 2 columns]

In [16]:
import nltk
from nltk.corpus import stopwords

sw_list=stopwords.words("english")
temp_df["review"]=temp_df["review"].apply(lambda x: [item for item in x.split() if item not in sw_list]).apply(lambda x:" ".join(x))

/var/folders/sp/2q6vh_9j0w1cb0bdct78zbm40000gn/T/ipykernel_4057/3937787649.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df["review"]=temp_df["review"].apply(lambda x: [item for item in x.split() if item not in sw_list]).apply(lambda x:" ".join(x))

In [17]:
X=temp_df.iloc[:,0:1]
y=temp_df["sentiment"]

In [18]:
X

                                                 review
0     one reviewers mentioned watching 1 oz episode ...
1     wonderful little production. filming technique...
2     thought wonderful way spend time hot summer we...
3     basically there's family little boy (jake) thi...
4     petter mattei's "love time money" visually stu...
...                                                 ...
9995  fun, entertaining movie wwii german spy (julie...
9996  give break. anyone say "good hockey movie"? kn...
9997  movie bad movie. watching endless series bad h...
9998  movie probably made entertain middle school, e...
9999  smashing film film-making. shows intense stran...

[9983 rows x 1 columns]

In [19]:
y

0       positive
1       positive
2       positive
3       negative
4       positive
          ...
9995    positive
9996    negative
9997    negative
9998    negative
9999    positive
Name: sentiment, Length: 9983, dtype: object

In [20]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

y=encoder.fit_transform(y)

In [21]:
y

array([1, 1, 1, ..., 0, 0, 1])

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.33, random_state=42)

In [23]:
X_train

                                                 review
9960  saw movie, say big waste time. girl played eva...
8751  show escape reality past ten years. sadly miss...
1203  putting aside "i'm sure"s "totally gnarly"s on...
3740  difficult criticize movie title like 'deathbed...
6131  saw chomps - approximately - 2 days theatrical...
...                                                 ...
5737  cowboys james stewart walter brennan take herd...
5194  movie look feel put together matter days-kind ...
5393  total crap.i kind excited see film version see...
860   production quite surprise me. absolutely love ...
7278  cartoon network seems desperate ratings. begin...

[6688 rows x 1 columns]

In [24]:
y_train

array([0, 1, 1, ..., 0, 1, 0])

In [25]:
X_test.shape

(3295, 1)

In [26]:
y_test.shape

(3295,)

In [27]:
from sklearn.feature_extraction.text import CountVectorizer

In [28]:
cv=CountVectorizer()

In [29]:
X_train_bow=cv.fit_transform(X_train["review"]).toarray()
X_test_bow=cv.transform(X_test["review"]).toarray()

In [30]:
X_train_bow.shape

(6688, 44652)

In [31]:
X_test_bow.shape

(3295, 44652)

In [32]:
len(cv.vocabulary_)

44652

In [33]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf=RandomForestClassifier()

rf.fit(X_train_bow,y_train)
y_pred=rf.predict(X_test_bow)
accuracy_score(y_test,y_pred)

0.8349013657056146

In [34]:
cv=CountVectorizer(ngram_range=(1,2))

X_train_bow=cv.fit_transform(X_train["review"]).toarray()
X_test_bow=cv.transform(X_test["review"]).toarray()

rf=RandomForestClassifier()

rf.fit(X_train_bow,y_train)
y_pred = rf.predict(X_test_bow)
accuracy_score(y_test,y_pred)

0.8270106221547799

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [36]:
tfidf=TfidfVectorizer()

In [37]:
X_train_tfidf=tfidf.fit_transform(X_train["review"]).toarray()
X_test_tfidf=tfidf.transform(X_test["review"]).toarray()

In [38]:
rf=RandomForestClassifier()
rf.fit(X_train_tfidf,y_train)
y_pred=rf.predict(X_train_tfidf)

accuracy_score(y_test,y_pred)

ValueError: Found input variables with inconsistent numbers of samples: [3295, 6688]